*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.file-action-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 0.5rem;
}

.file-action-cont > * {
    cursor: pointer;
}

.file-action {
    margin: 0.5rem;
    color: #f1f2f6;
}

.cellprop-action-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprop-action-cont > * {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.font-family-prop {
    padding: 0.2rem;
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-size-prop {
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 0.2rem;
}

.formula-action-cont {
    height: 3rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-action-cont > * {
    margin-right: 0.7rem;
}

.address-bar {
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.formula-action-cont > input {
    border: none;
    outline: none;
    height: 50%;
    border-radius: 2px;
    padding: 0.5rem;
}

.formula-bar {
    width: calc(100vw - 5rem);
}

.formula-icon {
    width: 1.2rem;
} 

.sheets-action-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-x: scroll;
}

.sheets-action-cont::-webkit-scrollbar {
    display: none;
}

.sheets-action-cont > * {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.sheet-folder-cont {
    height: 80%;
    width: calc(100vw - 2vw);
    display: flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 1rem;
    width: 5rem;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-content {
    text-align: center;
}

.add-icon {
    width: 2vw;
    margin-right: 0.5rem;
    height: 50%;
}

.grid-cont {
    height: calc(100vh - (12rem));
    position: relative;
    overflow: scroll;
}

.top-left-dummy {
    height: 2rem;
    width: 2rem;
    background-color: gray;
    position: fixed;
    z-index: 5;
}

.row-address-cont {
    position: sticky;
    top: 2rem;
    left: 0;
    z-index: 2;
    width: 2rem;
}

.row-address {
    height: 2rem;
    width: 2rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}

.cells-cont {
    position: absolute;
    left: 2rem;
    top: 0;
}

.col-address-cont {
    height: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    z-index: 3;
}

.col-address {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}

.row-container {
    display: flex;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
    padding: 0.5rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.color-prop {
    position: relative;
}

.color-prop > input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}